{# q2r.in.j2 — FOURIER TRANSFORM, la2F NEVER SET #}
{# la2F=.true. will CRASH q2r.x. This template enforces its absence. #}
&INPUT
  fildyn = '{{ fildyn }}'
  flfrc = '{{ stage_prefix }}.fc'
  zasr = 'crystal'
/
