&CONTROL
  calculation = 'bands'
  outdir = '{{ qe.bands.source_outdir | default(qe.pw.control.outdir) }}'
  prefix = '{{ qe.pw.control.prefix }}'
  pseudo_dir = '{{ material.pseudo_dir }}'
  verbosity = '{{ qe.pw.control.verbosity | default('high') }}'
/

&SYSTEM
  ibrav = {{ qe.pw.system.ibrav | default(0) }}
  nat = {{ material.atomic_positions | length }}
  ntyp = {{ material.atomic_species | length }}
  ecutwfc = {{ qe.pw.system.ecutwfc }}
  ecutrho = {{ qe.pw.system.ecutrho }}
  occupations = '{{ qe.pw.system.occupations | default('smearing') }}'
  smearing = '{{ qe.pw.system.smearing | default('gaussian') }}'
  degauss = {{ qe.pw.system.degauss | default('3.7d-3') }}
{% if qe.pw.system.tot_charge and qe.pw.system.tot_charge != 0 %}
  tot_charge = {{ qe.pw.system.tot_charge }}
{% endif %}
/

&ELECTRONS
  conv_thr = {{ qe.pw.electrons.conv_thr | default('1.0d-12') }}
  mixing_beta = {{ qe.pw.electrons.mixing_beta | default('4.0d-1') }}
/

ATOMIC_SPECIES
{% for el, spec in material.atomic_species.items() %}
{{ el }}  {{ spec.mass }}  {{ spec.pseudo }}
{%- endfor %}

CELL_PARAMETERS (angstrom)
{% for row in material.cell_parameters %}
  {{ "%14.9f"|format(row[0]) }} {{ "%14.9f"|format(row[1]) }} {{ "%14.9f"|format(row[2]) }}
{%- endfor %}

ATOMIC_POSITIONS (crystal)
{% for atom in material.atomic_positions %}
{{ atom.element }}  {{ "%20.10f"|format(atom.pos[0]) }} {{ "%20.10f"|format(atom.pos[1]) }} {{ "%20.10f"|format(atom.pos[2]) }}
{%- endfor %}

K_POINTS crystal
{% for label, kpt in workflow_meta.get('k_path', []) %}
  {{ "%14.9f"|format(kpt[0]) }} {{ "%14.9f"|format(kpt[1]) }} {{ "%14.9f"|format(kpt[2]) }} 1.0  ! {{ label }}
{%- else %}
{% for row in [ [0.0,0.0,0.0], [0.5,0.0,0.0], [0.3333,0.3333,0.0], [0.0,0.0,0.0] ] %}
  {{ "%14.9f"|format(row[0]) }} {{ "%14.9f"|format(row[1]) }} {{ "%14.9f"|format(row[2]) }} 50.0
{%- endfor %}
{%- endfor %}
